<section class="footer">
        <div class="footer-left">
            <h3> WABISABI <span> Cosmetics</span></h3>

        </div>
        <div class="footer-center">
            <div>
                <i class="bx bxs-location-plus"></i>
                <p><span> km9 Nguyen Trai</span>Hanoi</p>
            </div>
            <div>
                <i class="bx bxs-phone-call"></i>
                <p> +0929- 048 -421</p>
            </div>
            <div>
                <i class="bx bxs-contact"></i>
                <p>wabisabicosmetics@gmail.com</p>
            </div>

        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>Our socials</span>
                Get updated with us in the following <strong>links</strong>
            </p>
            <div class="box-icons">
            <a href="#" class="bx bxl-facebook-circle" ></a>
            <a href="#" class="bx bxl-instagram" ></a>
            <a href="#" class="bx bxl-twitter" ></a>
            <a href="#" class="bx bxl-pinterest" ></a>
            <a href="#" class="bx bxl-tiktok"></a>
            </div>

        </div>
    <div class="credit"> @ <span>DTUL,IIc.</span> All Rights Reserved</div>
</section>